<suite name="Suite1">

    <test name = "LoginTest">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>

    <test name = "CityTest1">
        <parameter name = "city" value="Хвалынск"/>
        <classes>
            <class name="CityTest"/>
        </classes>
    </test>

    <test name = "CityTest2">
        <parameter name = "city" value="Москва"/>
        <classes>
            <class name="CityTest"/>
        </classes>
    </test>

    <test name = "BrushTest">
        <parameter name = "minPrice" value="999"/>
        <parameter name = "maxPrice" value="1999"/>
        <parameter name = "threshold" value="2999"/>
        <classes>
            <class name = "BrushTest"/>
        </classes>
    </test>

</suite>
